header {
  display: flex;
  align-items: center;
  color: var(--nasa-white);

  a {
    display: flex;
    align-items: center;

    img {
      height: 6em;

      @media screen and (max-width: 400px) {
        height: 2em;
      }
    }
  }


  span {
    align-self: center;
    font-size: 2em;

    @media screen and (max-width: 400px) {
      height: 1.4em;
    }
  }
}