form.search {
    input.main {
        background-color: transparent;
        border: var(--border);
        color: var(--nasa-white);
        padding: 1em;
        border-radius: var(--border-radius);
        margin-inline: auto;
        width: 60%;
        display: block;
        box-sizing: border-box;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    p {
        text-align: center;

        label.main {
            @media screen and (max-width: 600px) {
                width: 100%;
                display: block;
            }
        }

        label.optional {
            @media screen and (max-width: 400px) {
                display: none;
            }
        }

        input {
            margin-inline: 1em;
            margin-block: 0.6em;
            background-color: transparent;
            border: none;
            border-bottom: var(--border);
            color: var(--nasa-white);
            outline: none;
            box-sizing: border-box;
            position: relative;

            @media screen and (max-width: 400px) {
                margin-inline: 0;
                width: 100%;
            }
        }

        input[type=date]:last-of-type {
            margin-inline-end: 0;
        }
    }

    button {
        margin-inline: auto;
        display: block;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 0.4em 1em;
        cursor: pointer;

        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}