section.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1em;
    margin-block-start: 2em;

    a.item {
        height: 200px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        div {
            position: absolute;
            bottom: 0em;
            background-color: #0003;
            backdrop-filter: blur(3px);
            color: #fff;
            font-size: 0.8em;
            width: 100%;
            padding: 0.4em;
            box-sizing: border-box;
        }
    }

    .loader {
        margin-inline: auto;
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .error {
        display: inline-block;
        box-sizing: border-box;
        margin-inline: auto;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}